.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 49px 1fr 400px 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header"
    "image-principal image-principal image-principal"
    "servicios-ofrecidos servicios-ofrecidos servicios-ofrecidos"
    "Servicios-de-Contabilidad Servicios-de-Contabilidad Servicios-de-Contabilidad"
    "Servicios-de-Impuestos Servicios-de-Impuestos Servicios-de-Impuestos"
    "Asesoría-Financiera Asesoría-Financiera Asesoría-Financiera"
    "testimonios-clientes testimonios-clientes testimonios-clientes"
    "Formulario-contacto Formulario-contacto Formulario-contacto"
    "copyright copyright copyright";
}

.header { grid-area: header; }

.image-principal { grid-area: image-principal; }

.servicios-ofrecidos { grid-area: servicios-ofrecidos; }

.Servicios-de-Contabilidad { grid-area: Servicios-de-Contabilidad; }

.Servicios-de-Impuestos { grid-area: Servicios-de-Impuestos; }

.Asesoría-Financiera { grid-area: Asesoría-Financiera; }

.testimonios-clientes { grid-area: testimonios-clientes; }

.Formulario-contacto { grid-area: Formulario-contacto; }

.copyright { grid-area: copyright; }
